.App {
  font-family: Bobs Burgers;
}

nav {
  width: 100%;
  background: #100f10;
  color: #fff;
}

nav .main-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

nav .main-nav img {
  margin-right: 2rem;
  width: 200px;
  
}

nav .main-nav input {
  margin-left: 3rem;
  border-radius: 4rem;
  border: none;
  padding: 5px 0 5px 10px;
}

ul {
  list-style: none;
}
